
header { height: 250px; background: #004880 url(Harrisburg-Skyline-bannerII.jpg) no-repeat center; margin-bottom: 0px; position: relative; }
header img {position: absolute; display: block; top: 90px; left: 10%; }

h1 {
  font-weight: bold;
  font-style: oblique;
  text-align: center;
  text-decoration: none;
}
div.content{
  background-color: whitesmoke;
  margin: 5%;
}
div.threeD{
	border: 10px outset #005da5;
}
#divCenter{
	background-color:lightblue;	
	-webkit-align-self: center; /* Safari 7.0+ */
    align-self: center;
	font-weight:bolder;
}

#myBlueDiv {
    -webkit-align-self: center; /* Safari 7.0+ */
    align-self: center;
    flex:1;
}

#main div {
    -webkit-flex: 1; /* Safari 6.1+ */
    flex: 1;
}

#main {
	 width:100%;
    display: -webkit-flex; /* Safari */
    -webkit-align-items: flex-start; /* Safari 7.0+ */
    display: flex;
    align-items: flex-start;
}

body{ 
  /*background-image: url("Images/colorImage.jpe");*/
  /*background-size: cover;*/
  /*background-color:#3f5560;*/
  margin: 0;
  padding: 10;
}
img.left {
  margin-left: 120px;
}
img.right{
	margin-right: 120px;
}

#testBox{border: 1px solid blue;}

table#multi tr:nth-child(even) {background-color:white;}
table#multi tr:nth-child(odd) {background-color:lightgray;}
table#multi th{background-color:white;}

#textRight{width:50%; float:right; border:1px solid blue; border-radius:20px; padding:5px; margin: 10px;}
#textLeft{width:50%; float:left; border:1px solid blue; border-radius:20px; padding:5px; margin: 10px;}

navii {background-color: #004880; position: absolute; }
navii ul {list-style: none; margin: 0; padding: 0;}
navii ul li:hover {background-color: red; }
navii ul li:hover > ul {display: block; width: 100%; background-color: green;}

navii ul li a {display: inline-block; background-color: gold; color:#fff; padding:10px 20px; text-decoration: none; }
navii ul li a:hover { background-color:red; width: auto; }
/*navii ul li a:hover {background-color:#1a9cff; }*/

navii ul ul {display: none; postion: absolute; top: 100%; background-color:#004880;}
navii ul ul li {position: relative; border-bottom:1px solid white;}
navii ul ul li:last-child {border-bottom:none;}
navii ul ul ul { position: absolute; left: 100%; top: 0;}

/*top level */
navii > ul {padding-left: 35px;}
navii > ul > li {float: left;}
navii > ul > li > a{width: auto;}





nav { background-color: #004880; position: absolute; padding: 0px 0px 0px 180px; width:100%;}

nav ul {list-style: none; margin:0; padding:0;}

/*nav ul::after {content:''; display: block; clear: both;}*/

nav ul li:hover {background-color: #1a9cff;}
nav ul li:hover > ul {display: block;}

nav ul li a {display: inline-block; color:#fff; padding:10px 20px; text-decoration: none; }
nav ul li a:hover {background-color:#1a9cff;}

nav ul ul {display: none; position: absolute; top: 100%; background-color:rgba(0, 101, 179,.8);}
//nav ul ul li {position: relative; border-bottom:1px solid white;}
//nav ul ul li:last-child {border-bottom:none;}
nav ul ul ul {position: absolute; left: 100%; top: 50%; width: 100%}

/*top level */
nav > ul {padding-left: 35px;}
nav > ul > li {float: left;}
nav > ul > li > a{width: auto;}

/*
#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0;
	background-color: rgba(0,0,0,.6); position: relative; padding: 45px 0px 0px 180px;
}

#primary_nav_wrap ul::after{content:''; display: block; clear: both;)

#primary_nav_wrap ul a
{
	display:block;
	/*color:#333;
	color:#004880;
	color:black;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;	
}


#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0;
}

#primary_nav_wrap ul li.current-menu-item
{
	background:#ddd;
}

#primary_nav_wrap ul li:hover
{
	/*background:#f6f6f6*/
	/*background:#ddd;*/
	/*background:lightblue;
	background-color:#6e9b98;
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	/*background:#fff;
	background-color:#3f5560;
	padding:0;
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px;
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px;
	color: black;
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%;
}

#primary_nav_wrap ul li:hover > ul
{
	display:block;
}*/